h1{
    text-align: center;
   background-color: rgb(24, 90, 68);
    color:rgb(123, 182, 5);
    
}

h2{
    background-color: wheat;
    color: ;
}

html{
    background-color: rgb(194, 142, 142);
}